HTML
{
	font-family: calibri, sans;
}

CANVAS
{	
	background-color: blue;
	width: 200px;
	height: 200px;
	border: solid black 3px;
	margin: 5px;
}

.buttonHolder TD
{
	text-align: center;
}